<settings>

	<setting propertyKey="@Properties.presetNumber" title="@Strings.PresetNumberLabel">
		<settingConfig type="list" required="true">
			<listEntry value="1">@Strings.preset1</listEntry>
			<listEntry value="2">@Strings.preset2</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.prepTime" title="@Strings.PrepTimeLabel">
		<settingConfig type="numeric" min="1" errorMessage="@Strings.TimeError" />
	</setting>
	
	<setting propertyKey="@Properties.workTime1" title="@Strings.WorkTimeLabel">
		<settingConfig type="numeric" min="1" errorMessage="@Strings.TimeError" />
	</setting>
	<setting propertyKey="@Properties.restTime1" title="@Strings.RestTimeLabel">
		<settingConfig type="numeric" min="1" errorMessage="@Strings.TimeError" />
	</setting>
	
	<setting propertyKey="@Properties.workTime2" title="@Strings.WorkTimeLabel">
		<settingConfig type="numeric" min="1" errorMessage="@Strings.TimeError" />
	</setting>
	<setting propertyKey="@Properties.restTime2" title="@Strings.RestTimeLabel">
		<settingConfig type="numeric" min="1" errorMessage="@Strings.TimeError" />
	</setting>
	
</settings>